@import "../node_modules/bulma/css/bulma.css";
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

/* Global font */

* {
  font-family: 'Fira Sans', sans-serif;
}


/* style naviguation */
.navbar-item {
  font-weight: 900;
  color: gray !important;
}

.navbar-item:before,
.navbar-item:after {
  height: 14px;
  width: 14px;
  position: absolute;
  content: "";
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  opacity: 0;
}
.navbar-item:before {
  left: 0;
  top: 0;
  border-left: 3px solid goldenrod;
  border-top: 3px solid goldenrod;
  -webkit-transform: translate(100%, 50%);
  transform: translate(100%, 50%);
}
.navbar-item:after {
  right: 0;
  bottom: 0;
  border-right: 3px solid #c0392b;
  border-bottom: 3px solid #c0392b;
  -webkit-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
}
.navbar-item:hover {
  color: white !important;
}
.navbar-item:hover:before,
.navbar-item:hover:after {
  -webkit-transform: translate(0%, 0%);
  transform: translate(0%, 0%);
  opacity: 1;
}
/* fin nav */

/* animation hero banner */
h1.ml8 {
  font-weight: 900;
  color: #fff;
  width: 3em;
  height: 3em;
}

.ml8 .letters-container {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  bottom: 0;
  height: 1em;
}

.ml8 .letters {
  position: relative;
  z-index: 2;
  display: inline-block;
  line-height: 0.7em;
  top: -0.2em;
}

.ml8 .bang {
  top: +1em;
  left: -0.06em;
}

.ml8 .circle {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  bottom: 0;
}

.ml8 .circle-white {
  width: 4em;
  height: 4em;
  border: 2px dashed white;
  border-radius: 2em;
}

.ml8 .circle-dark {
  width: 4.2em;
  height: 4.2em;
  background-color: goldenrod;
  border-radius: 3em;
  z-index: 1;
}

.ml8 .circle-dark-dashed {
  border-radius: 40%;
  background-color: transparent;
  border: 2px dashed red;
  width: 10.3em;
  height: 10.3em;
}
/* fin animation hero banner */

/* 1280-1024   - desktop (default grid) */
@media all and (min-width: 1024px) {
  /* hero banner  */
  h1.ml8 {
    font-size: 2em;
  }
}

/* *   1024-768    - tablet landscape */
@media all and (min-width: 768px) and (max-width: 1024px) {
}

/* 768-480     - tablet  */
@media all and (min-width: 480px) and (max-width: 768px) {
  /* hero banner */
  h1.ml8 {
    font-size: 1.5em;
  }
}

/* 480-less    - phone landscape & smaller */
@media all and (max-width: 480px) {
}
